main {
    display: grid;
    grid-template-columns: 513px minmax(525px, 760px);
    grid-template-rows:  1fr;
    justify-content: center;
    padding-top: 50px;
}
 
 
.main--info {
    margin-top: -65px;
}

.div-main--info {
    display: flex;
    flex-direction: column;
    width: 470px;
    
}

.div-main--info h1 {
    text-align: left;
    line-height: 3rem;
    margin-left: 55px
}

.div-main--info p {
    text-align: left;
    margin-left: 55px;
}

.section--star-rating {  
    width: 80%;
    max-width: 450px;
    
}

.section--star-rating--item {
    padding-top: 8px;
    padding-bottom: 8px;
}

.section--star-rating .item-1 {
    align-self: flex-start;
}

.section--star-rating .item-2 {
    align-self: center;
}

.section--star-rating .item-3 {
    align-self: flex-end;
}

.section--star-rating--item {
    display: flex;
    align-items: center;
}

.div--star-rating--img {
    margin: 10px 30px 0 10px;
}

.section--feedback {
    display: flex;
    max-width: 1150px;
    width: 90%;
    height: 280px;
    grid-column: 1 / 4;
    flex-direction: row;
    margin-top: 15px;
    gap: 20px;
    margin-bottom: 60px;
}

.section--feedback-article--card {
    max-width: 340px;
}

.section--feedback .card-1 {
    align-self: flex-start;
}

.section--feedback .card-2 {
    align-self: center;
}

.section--feedback .card-3 {
    align-self: flex-end;
} 